/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FULL SCREEN LOCK */
html, body, #root {
  height: 100%;
  overflow: hidden;
}

/* FONT */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f7f7f7; /* 👈 add this */
}

/* ANTD FIX (IMPORTANT) */
.ant-layout {
  height: 100vh;
  overflow: hidden;
}